@import "../fonts/museo-slab.css";
@import "../fonts/dejavu-sans-mono/stylesheet.css";
pre{margin:0;padding:0}
.code-block{position:relative;border:solid 0 #7aa6da;border-width:6px 0;margin:20px -36px 20px -36px;line-height:1.4}
.code-block.code-lang-javascript{border-color:#7aa6da}
.code-block.code-lang-html{border-color:#e7c547}
.code-block.code-lang-css{border-color:#c397d8}
.highlight .hll{background-color:#ffc}
.highlight{background:#282a2e;color:#eaeaea;text-shadow:#000 0 1px 0;font-size:.8em;padding:10px 10px 10px 60px;margin-right:-30px;-webkit-border-top-right-radius:10px;-webkit-border-bottom-right-radius:10px;-moz-border-radius:0 10px 10px 0;border-radius:0 10px 10px 0}
.code-lines{background:#373b41;color:#eaeaea;text-shadow:#000 0 1px 0;font-size:.8em;padding:10px 10px 10px 15px;position:absolute;top:0;left:0;text-align:right;border-right:solid 1px #000}
.linenodiv pre,.highlight pre{font-size:1em;font-family:DejaVuSansMonoBook,monospace}
.highlight .c{color:#969896}
.highlight .err{color:#f00000;background-color:#f0a0a0}
.highlight .k{color:#c397d8}
.code-lang-css .highlight .k{color:#e7c547}
.highlight .o{color:#70c0b1}
.code-lang-css .highlight .o{color:#eaeaea}
.highlight .cm{color:#969896}
.highlight .cp{color:#969896}
.highlight .c1{color:#969896}
.highlight .cs{color:#c00}
.highlight .gd{color:#a00000}
.highlight .ge{font-style:italic}
.highlight .gr{color:#f00}
.highlight .gh{color:#000080}
.highlight .gi{color:#00a000}
.highlight .go{color:#808080}
.highlight .gp{color:#c65d09}
.highlight .gs  /* Generic.Strong */,.highlight .gu{color:#800080}
.highlight .gt{color:#0040d0}
.highlight .kc{color:#008000}
.highlight .kd{color:#c397d8}
.highlight .kn{color:#008000}
.highlight .kp{color:#003080}
.highlight .kr{color:#008000}
.highlight .kt{color:#303090}
.highlight .m{color:#e78c45}
.highlight .s{color:#b9ca4a}
.highlight .na{color:#d54e53}
.highlight .nb{color:#007020}
.highlight .nc{color:#b00060}
.highlight .no{color:#003060}
.highlight .nd{color:#505050}
.highlight .ni{color:#800000}
.highlight .ne{color:#f00000}
.highlight .nf{color:#d54e53}
.highlight .nl{color:#d54e53}
.highlight .nn{color:#0e84b5}
.highlight .nt{color:#d54e53}
.code-lang-css .highlight .nt{color:#c397d8}
.highlight .nv{color:#906030}
.highlight .ow{color:#000}
.highlight .w{color:#bbb}
.highlight .mf{color:#6000e0}
.highlight .mh{color:#005080}
.highlight .mi{color:#0000d0}
.highlight .mo{color:#4000e0}
.highlight .sb{background-color:#fff0f0}
.highlight .sc{color:#0040d0}
.highlight .sd{color:#d04020}
.highlight .s2{color:#b9ca4a}
.highlight .se{color:#606060;font-weight:bold;background-color:#fff0f0}
.highlight .sh{background-color:#fff0f0}
.highlight .si{background-color:#e0e0e0}
.highlight .sx{color:#d02000;background-color:#fff0f0}
.highlight .sr{color:#000;background-color:#fff0ff}
.highlight .s1{background-color:#fff0f0}
.highlight .ss{color:#a06000}
.highlight .bp{color:#007020}
.highlight .vc{color:#306090}
.highlight .vg{color:#d07000}
.highlight .vi{color:#3030b0}
.highlight .il{color:#0000d0}
html{background-image:url("../img/bg-tile.png");height:100%}
body{position:relative;min-height:100%}
body > header{position:absolute;left:0;top:0;bottom:0;width:315px;background-color:#d6d6d6;border-right:solid 1px #aaa;padding:1px 0}
.multiplebgs body > header{background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,0.05)),to(rgba(0,0,0,0.05))),url("../img/bg-noise.png");background-image:-webkit-linear-gradient(left,rgba(0,0,0,0.05),rgba(0,0,0,0.05)),url("../img/bg-noise.png");background-image:-moz-linear-gradient(left,rgba(0,0,0,0.05),rgba(0,0,0,0.05)),url("../img/bg-noise.png");background-image:-ms-linear-gradient(left,rgba(0,0,0,0.05),rgba(0,0,0,0.05)),url("../img/bg-noise.png");background-image:-o-linear-gradient(left,rgba(0,0,0,0.05),rgba(0,0,0,0.05)),url("../img/bg-noise.png");background-image:linear-gradient(to right,rgba(0,0,0,0.05),rgba(0,0,0,0.05)),url("../img/bg-noise.png")}
body > header h1{overflow:hidden;text-indent:-9999px;width:204px;height:195px;margin:35px auto 0 auto;background:#fff;-webkit-border-top-left-radius:10px;-webkit-border-top-right-radius:10px;-moz-border-radius:10px 10px 0 0;border-radius:10px 10px 0 0;background:url("../img/doug-photo.png") no-repeat;-webkit-box-shadow:rgba(0,0,0,0.30) 0 0 3px;-moz-box-shadow:rgba(0,0,0,0.30) 0 0 3px;box-shadow:rgba(0,0,0,0.30) 0 0 3px}
body > header .highlight{margin:0 auto 25px auto;-webkit-border-bottom-left-radius:10px;-webkit-border-bottom-right-radius:10px;-moz-border-radius:0 0 10px 10px;border-radius:0 0 10px 10px;padding:1px 0;border-top:solid 4px #70c0b1;width:204px;font-size:.75em;position:relative;z-index:10;-webkit-box-shadow:rgba(0,0,0,0.40) 0 1px 5px;-moz-box-shadow:rgba(0,0,0,0.40) 0 1px 5px;box-shadow:rgba(0,0,0,0.40) 0 1px 5px}
body > header .highlight:after{display:block;border:solid 1px rgba(255,255,255,0.30);content:"";position:absolute;top:-198px;left:1px;right:1px;bottom:1px;z-index:10;-webkit-border-radius:9px;-moz-border-radius:9px;border-radius:9px}
body > header .highlight pre{margin:10px 15px}
body > section{margin:0 60px 0 316px;background-color:#dfdfdf;background-image:url("../img/bg-noise.png");border-left:solid 1px #eee;padding:1px 0;border-right:solid 1px #fff;max-width:870px;position:relative}
body > section:after{display:block;content:"";position:absolute;width:60px;right:-61px;top:0;bottom:0;background-color:transparent;background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(60,30,80,0.40)),to(rgba(60,30,80,0.00)));background-image:-webkit-linear-gradient(left,rgba(60,30,80,0.40),rgba(60,30,80,0.00));background-image:-moz-linear-gradient(left,rgba(60,30,80,0.40),rgba(60,30,80,0.00));background-image:-ms-linear-gradient(left,rgba(60,30,80,0.40),rgba(60,30,80,0.00));background-image:-o-linear-gradient(left,rgba(60,30,80,0.40),rgba(60,30,80,0.00));background-image:linear-gradient(to right,rgba(60,30,80,0.40),rgba(60,30,80,0.00));z-index:-1}
#primary{padding-top:10px}
#primary a{color:#8e908c;text-decoration:none}
#primary a:hover{color:#000}
#primary .current a{color:#4d4d4c}
#primary .current a:hover{color:#000}
#site-menu{font-family:"Dejavu Sans Mono",monospace;width:200px;margin:20px auto}
#nav-main > a:before{content:"/****** "}
#nav-main > a:after{content:" ******/"}
#nav-coding > a:before{content:"/***** "}
#nav-coding > a:after{content:" *****/"}
#nav-speaking > a:before{content:"/**** "}
#nav-speaking > a:after{content:" ****/"}
#nav-learning > a:before{content:"/**** "}
#nav-learning > a:after{content:" ****/"}
#site-menu > li{margin-bottom:15px}
#site-menu li ul{padding-left:40px;position:relative;margin-top:5px}
#site-menu li ul a:hover{text-decoration:underline}
#site-menu li ul:before{content:"var";color:#8959a8;position:absolute;top:0;left:0}
#site-menu li ul li:after{content:", "}
#site-menu li ul li:last-child:after{content:";"}
#content h1{font-family:"MuseoSlab-500",Helvetica,Arial,sans-serif;font-size:2.5em;color:#8959a8;line-height:1;padding:35px 35px 20px 35px;margin:0}
.post-meta{font-family:"MuseoSlab-500",Helvetica,Arial,sans-serif;border:solid 1px #aaa;border-width:1px 0;padding:20px 35px;margin-left:-1px;color:#4d4d4c;background-color:rgba(150,150,150,0.10)}
.post-meta a{color:#8959a8;text-decoration:none}
.post-meta a:hover{text-decoration:underline}
.post-content{padding:20px 35px;font-family:'Molengo',sans-serif;font-size:1.2em;line-height:1.6}
.post-content p{margin:0 0 15px 0}
.post-content h2,.post-content h3{font-family:"MuseoSlab-500",Helvetica,Arial,sans-serif;font-size:1.5em;color:#4271ae;line-height:1;padding:20px 0 10px 0;margin:0}
.post-content li code,.post-content p code{display:inline-block;background-color:#c9cda3;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;padding:0 3px;font-size:.9em}
#site-footer{border-top:solid 1px #aaa;padding:10px 0;margin:20px 35px 10px 35px;color:#666;font-size:.8em}
